* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 600px;
    margin: auto;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.wd-explore_head {
    margin: 0px 16px;
    border: solid rgb(47, 51, 54) 1px;
    border-top: 0px;
    padding-top: 5px;
}

/* Search Bar */
.wb-search {
    position: relative;
    padding: 0 16px 16px;
}

.wb-search-bar {
    width: 85%;
    border-radius: 50px;
    padding: 12px;
    font-size: 15px;
    border: 0px;
    color: white;
    background-color: rgb(32, 35, 39);
}

.wb-search-bar:focus {
    outline:rgb(29, 155, 240) 2px solid
}

.wb-search a {
    float: right;
    padding-right: 12px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(29, 155, 240);
}

/* Links */
.wb-links {
    position: relative;
    padding-bottom: 16px;
}

.wb-links a { 
    font-size: 15px;
    /* margin-right: 32px; */
    padding: 0px 16px;
    padding-bottom: 16px;
    text-decoration: none;
    font-weight: 500;
    color: rgb(110, 118, 125);
}

#wb-links-current { 
    color: rgb(29, 155, 240);
    position: relative;
}

#wb-links-current::after { 
    content: "";
    width: 80%;
    height: 5px;
    border-radius: 2px;
    position: absolute;
    bottom: 0px;
    left: 10%;
    background-color: rgb(29, 155, 240);
}


/* Suggested Post */

.wd-suggested {
    position: relative;
    margin: 0 16px 16px;
}


.wd-suggested ul li {
    border: solid rgb(47, 51, 54) 1px;
    border-top: 0px;
    padding: 16px;
}

.wd-suggested ul p {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-suggested ul h1 {
    margin: 5px 0;
    font-size: 20px;
    color: white;
}

.wd-suggested-post {
    width: 400px;
    height: 100px;
    display: inline-block;
}

.wb-suggested-author {
    color: white;
}

.wd-suggested img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    float: right;
}


.wd-suggested hr {
    border-color: rgb(110, 118, 125);
}


